In [18]:
import warnings
warnings.filterwarnings("ignore")

import numpy as np
import pandas as pd

import sport_helpers
from sport_helpers import create_top_sport
from sport_helpers import create_enc

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder
from sklearn import tree

import seaborn as sns

import matplotlib.pyplot as plt

from keras.models import Sequential
from keras.layers import Dense

%matplotlib inline

Using TensorFlow backend.

In [46]:
df = create_top_sport()

In [47]:
create_enc(df, ['nationality', 'sex', 'sport'])

,id,name,nationality,sex,dob,height,weight,sport,gold,silver,bronze,age,nationality_enc,sex_enc,sport_enc
0,736041664,A Jesus Garcia,ESP,male,1969-10-17,1.72,64.0,athletics,0,0,0,47,59,1,2
1,532037425,A Lam Shin,KOR,female,1986-09-23,1.68,56.0,fencing,0,0,0,30,101,0,8
2,435962603,Aaron Brown,CAN,male,1992-05-27,1.98,79.0,athletics,0,0,1,24,33,1,2
3,521041435,Aaron Cook,MDA,male,1991-01-02,1.83,80.0,taekwondo,0,0,0,25,117,1,21
4,33922579,Aaron Gate,NZL,male,1990-11-26,1.81,71.0,cycling,0,0,0,26,138,1,6
5,173071782,Aaron Royle,AUS,male,1990-01-26,1.80,67.0,triathlon,0,0,0,26,10,1,23
6,266237702,Aaron Russell,USA,male,1993-06-04,2.05,98.0,volleyball,0,0,1,23,191,1,24
7,382571888,Aaron Younger,AUS,male,1991-09-25,1.93,100.0,aquatics,0,0,0,25,10,1,0
8,87689776,Aauri Lorena Bokesa,ESP,female,1988-12-14,1.80,62.0,athletics,0,0,0,28,59,0,2
9,997877719,Ababel Yeshaneh,ETH,female,1991-07-22,1.65,54.0,athletics,0,0,0,25,61,0,2
10,343694681,Abadi Hadis,ETH,male,1997-11-06,1.70,63.0,athletics,0,0,0,19,61,1,2
11,591319906,Abbas Abubakar Abbas,BRN,male,1996-05-17,1.75,66.0,athletics,0,0,0,20,27,1,2
13,376068084,Abbey D'Agostino,USA,female,1992-05-25,1.61,49.0,athletics,0,0,0,24,191,0,2
14,162792594,Abbey Weitzeil,USA,female,1996-12-03,1.78,68.0,aquatics,1,1,0,20,191,0,0
15,521036704,Abbie Brown,GBR,female,1996-04-10,1.76,71.0,rugby sevens,0,0,0,20,67,0,17
16,149397772,Abbos Rakhmonov,UZB,male,1998-07-07,1.61,57.0,wrestling,0,0,0,18,192,1,26
17,256673338,Abbubaker Mobara,RSA,male,1994-02-18,1.75,64.0,football,0,0,0,22,155,1,9
18,337369662,Abby Erceg,NZL,female,1989-11-20,1.75,68.0,football,0,0,0,27,138,0,9
19,334169879,Abd Elhalim Mohamed Abou,EGY,male,1989-06-03,2.10,88.0,volleyball,0,0,0,27,56,1,24
20,215053268,Abdalaati Iguider,MAR,male,1987-03-25,1.73,57.0,athletics,0,0,0,29,114,1,2
21,763711985,Abdalelah Haroun,QAT,male,1997-01-01,1.85,80.0,athletics,0,0,0,19,152,1,2
22,924593601,Abdalla Targan,SUD,male,1996-09-28,1.77,65.0,athletics,0,0,0,20,170,1,2
23,578032534,Abdel Aziz Mehelba,EGY,male,1988-12-10,1.76,80.0,shooting,0,0,0,28,56,1,19
24,890222258,Abdelati El Guesse,MAR,male,1993-02-27,1.90,72.0,athletics,0,0,0,23,114,1,2
25,803161695,Abdelaziz Merzougui,ESP,male,1991-08-30,1.75,67.0,athletics,0,0,0,25,59,1,2
26,189931373,Abdelaziz Mohamed Ahmed,SUD,male,1994-10-12,1.81,72.0,aquatics,0,0,0,22,170,1,0
27,677622742,Abdelghani Demmou,ALG,male,1989-01-29,1.85,75.0,football,0,0,0,27,2,1,9
29,904808208,Abdelhakim Amokrane,ALG,male,1994-05-10,1.86,70.0,football,0,0,0,22,2,1,9
31,133974151,Abdelkadir Salhi,ALG,male,1993-03-19,1.85,79.0,football,0,0,0,23,2,1,9
32,189886442,Abdelkebir Ouaddar,MAR,male,2062-07-15,1.74,67.0,equestrian,0,0,0,-46,114,1,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11505,47822121,Ziyu Zhang,AUS,female,1990-12-10,1.62,70.0,table tennis,0,0,0,26,10,0,20
11506,432416881,Zlatko Horvat,CRO,male,1984-09-25,1.79,86.0,handball,0,0,0,32,47,1,12
11507,446963221,Zoe Arancini,AUS,female,1991-07-14,1.70,70.0,aquatics,0,0,0,25,10,0,0
11508,499603226,Zoe Buckman,AUS,female,1988-12-21,1.68,50.0,athletics,0,0,0,28,10,0,2
11509,836633838,Zoe Lee,GBR,female,1985-12-15,1.76,70.0,rowing,0,1,0,31,67,0,16
11510,634140075,Zoe Stevenson,NZL,female,1991-06-19,1.83,74.0,rowing,0,0,0,25,138,0,16
11511,343671816,Zoe de Toledo,GBR,female,1987-07-17,1.72,58.0,rowing,0,1,0,29,67,0,16
11512,371106012,Zohar Shikler,ISR,female,1997-07-08,1.78,61.0,aquatics,0,0,0,19,90,0,0
11515,211176854,Zoi Kontogianni,GRE,female,1997-09-19,1.65,47.0,gymnastics,0,0,0,19,73,0,11
11516,875374176,Zokhid Kenjaev,UZB,male,1992-03-30,1.68,61.0,table tennis,0,0,0,24,192,1,20
11518,672182746,Zoltan Kovago,HUN,male,1979-04-10,2.04,132.0,athletics,0,0,0,37,82,1,2
11519,412827228,Zorana Arunovic,SRB,female,1986-11-22,1.68,90.0,shooting,0,0,0,30,166,0,19
11520,724419150,Zouhair Aouad,BRN,male,1989-04-07,1.75,69.0,athletics,0,0,0,27,27,1,2
11521,281890328,Zoulehia Abzetta Dabonne,CIV,female,1992-12-15,1.75,57.0,judo,0,0,0,24,39,0,14
11522,230998458,Zoya Ananchenko,KAZ,female,1996-09-05,1.65,67.0,canoe,0,0,0,20,97,0,5
11523,778588793,Zsanett Nemeth,HUN,female,1994-01-21,1.75,80.0,wrestling,0,0,0,22,82,0,26
11524,640253635,Zsofia Csonka,HUN,female,1983-09-12,1.64,89.0,shooting,0,0,0,33,82,0,19
11525,999437858,Zsofia Erdelyi,HUN,female,1987-12-10,1.64,53.0,athletics,0,0,0,29,82,0,2
11526,46916465,Zsofia Foldhazi,HUN,female,1993-06-09,1.70,54.0,modern pentathlon,0,0,0,23,82,0,15
11527,738530209,Zsofia Kovacs,HUN,female,1988-02-07,1.80,58.0,triathlon,0,0,0,28,82,0,23
11528,499425013,Zsofia Kovacs,HUN,female,2000-04-06,1.58,49.0,gymnastics,0,0,0,16,82,0,11
11529,862285226,Zsombor Berecz,HUN,male,1986-04-26,1.95,95.0,sailing,0,0,0,30,82,1,18
11530,739315046,Zsuzsanna Jakabos,HUN,female,1989-04-03,1.85,70.0,aquatics,0,0,0,27,82,0,0
11531,600541319,Zurabi Datunashvili,GEO,male,1991-06-18,1.83,75.0,wrestling,0,0,0,25,69,1,26
11532,801825063,Zurabi Iakobishvili,GEO,male,1992-02-04,1.71,68.0,wrestling,0,0,0,24,69,1,26
11533,265605954,Zurian Hechavarria,CUB,female,1995-08-10,1.64,58.0,athletics,0,0,0,21,48,0,2
11534,214461847,Zuzana Hejnova,CZE,female,1986-12-19,1.73,63.0,athletics,0,0,0,30,50,0,2
11535,88361042,di Xiao,CHN,male,1991-05-14,1.85,100.0,wrestling,0,0,0,25,38,1,26
11536,900065925,le Quoc Toan Tran,VIE,male,1989-04-05,1.60,56.0,weightlifting,0,0,0,27,195,1,25
11537,711404576,le Roux Hamman,RSA,male,1992-01-06,1.85,70.0,athletics,0,0,0,24,155,1,2

In [48]:
df['weight'] = df['weight']/20
df['age'] = df['age']/10
df['nationality_enc'] = df['nationality_enc']/20

In [49]:
df.head()

,id,name,nationality,sex,dob,height,weight,sport,gold,silver,bronze,age,nationality_enc,sex_enc,sport_enc
0,736041664,A Jesus Garcia,ESP,male,1969-10-17,1.72,3.20,athletics,0,0,0,4.7,2.95,1,2
1,532037425,A Lam Shin,KOR,female,1986-09-23,1.68,2.80,fencing,0,0,0,3.0,5.05,0,8
2,435962603,Aaron Brown,CAN,male,1992-05-27,1.98,3.95,athletics,0,0,1,2.4,1.65,1,2
3,521041435,Aaron Cook,MDA,male,1991-01-02,1.83,4.00,taekwondo,0,0,0,2.5,5.85,1,21
4,33922579,Aaron Gate,NZL,male,1990-11-26,1.81,3.55,cycling,0,0,0,2.6,6.90,1,6

In [50]:
df.describe()

,id,height,weight,gold,silver,bronze,age,nationality_enc,sex_enc,sport_enc
count,1.085800e+04,10858.000000,10858.000000,10858.000000,10858.000000,10858.000000,10858.000000,10858.000000,10858.000000,10858.000000
mean,5.011329e+08,1.766942,3.603546,0.059772,0.058482,0.058574,2.621818,4.622412,0.539878,9.688893
std,2.909399e+08,0.113111,0.808118,0.260756,0.242387,0.239113,0.755345,2.893111,0.498430,8.191945
min,1.834700e+04,1.210000,1.550000,0.000000,0.000000,0.000000,-5.200000,0.000000,0.000000,0.000000
25%,2.460081e+08,1.690000,3.000000,0.000000,0.000000,0.000000,2.300000,2.200000,0.000000,2.000000
50%,5.020973e+08,1.760000,3.500000,0.000000,0.000000,0.000000,2.600000,4.100000,1.000000,8.000000
75%,7.555681e+08,1.840000,4.050000,0.000000,0.000000,0.000000,3.000000,7.400000,1.000000,16.000000
max,9.999878e+08,2.210000,8.500000,5.000000,2.000000,2.000000,4.700000,9.950000,1.000000,26.000000

### Athletics has a wide variety of sizes, so we'll remove those to see how things turn out.

In [51]:
df = df[df.sport != 'athletics']

In [52]:
df = df[['height', 'weight', 'age', 'nationality_enc', 'sport_enc', 'sex_enc']]

In [53]:
array=df.values

In [44]:
# train, test = train_test_split(df, test_size=.3, random_state=123, stratify=df[['sex_enc']])

In [55]:
X = array[:,0:5]
y = array[:,5]

In [21]:
# y_train = train[['sport_enc']]
# y_test = test[['sport_enc']]

In [22]:
# X_train = train[['sex_enc', 'height', 'weight', 'age', 'nationality_enc']]
# X_test = test[['sex_enc', 'height', 'weight', 'age', 'nationality_enc']]

In [56]:
model = Sequential()
model.add(Dense(12, input_dim=5, init='uniform', activation='relu'))
model.add(Dense(8, init='uniform', activation='relu'))
model.add(Dense(1, init='uniform', activation='sigmoid'))

In [59]:
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [62]:
model.fit(X, y, nb_epoch=30, batch_size=20)

Epoch 1/30
8671/8671 [==============================] - 0s 52us/step - loss: 0.4717 - acc: 0.7793
Epoch 2/30
8671/8671 [==============================] - 0s 50us/step - loss: 0.4733 - acc: 0.7740
Epoch 3/30
8671/8671 [==============================] - 0s 50us/step - loss: 0.4705 - acc: 0.7831
Epoch 4/30
8671/8671 [==============================] - 0s 50us/step - loss: 0.4720 - acc: 0.7780
Epoch 5/30
8671/8671 [==============================] - 0s 49us/step - loss: 0.4701 - acc: 0.7809
Epoch 6/30
8671/8671 [==============================] - 0s 50us/step - loss: 0.4701 - acc: 0.7797
Epoch 7/30
8671/8671 [==============================] - 1s 60us/step - loss: 0.4673 - acc: 0.7782: 0s - loss: 0.4782 - acc: 0.
Epoch 8/30
8671/8671 [==============================] - 0s 51us/step - loss: 0.4719 - acc: 0.7763
Epoch 9/30
8671/8671 [==============================] - 0s 52us/step - loss: 0.4690 - acc: 0.7820
Epoch 10/30
8671/8671 [==============================] - 0s 57us/step - loss: 0.4711 - acc: 0.7782: 0s - loss: 0.4631 - acc:
Epoch 11/30
8671/8671 [==============================] - 0s 50us/step - loss: 0.4693 - acc: 0.7793
Epoch 12/30
8671/8671 [==============================] - 0s 50us/step - loss: 0.4678 - acc: 0.7833
Epoch 13/30
8671/8671 [==============================] - 0s 50us/step - loss: 0.4680 - acc: 0.7808
Epoch 14/30
8671/8671 [==============================] - 0s 51us/step - loss: 0.4699 - acc: 0.7791: 0s - loss: 0.4683 - acc: 0.780
Epoch 15/30
8671/8671 [==============================] - 0s 51us/step - loss: 0.4698 - acc: 0.7793
Epoch 16/30
8671/8671 [==============================] - 0s 52us/step - loss: 0.4698 - acc: 0.7793
Epoch 17/30
8671/8671 [==============================] - 0s 55us/step - loss: 0.4684 - acc: 0.7846
Epoch 18/30
8671/8671 [==============================] - 0s 51us/step - loss: 0.4681 - acc: 0.7796
Epoch 19/30
8671/8671 [==============================] - 0s 51us/step - loss: 0.4699 - acc: 0.7808
Epoch 20/30
8671/8671 [==============================] - 0s 52us/step - loss: 0.4685 - acc: 0.7833
Epoch 21/30
8671/8671 [==============================] - 0s 49us/step - loss: 0.4688 - acc: 0.7819
Epoch 22/30
8671/8671 [==============================] - 0s 49us/step - loss: 0.4660 - acc: 0.7802
Epoch 23/30
8671/8671 [==============================] - 0s 51us/step - loss: 0.4676 - acc: 0.7826: 0s - loss: 0.4717 - acc: 0.78
Epoch 24/30
8671/8671 [==============================] - 0s 52us/step - loss: 0.4660 - acc: 0.7804
Epoch 25/30
8671/8671 [==============================] - 0s 54us/step - loss: 0.4667 - acc: 0.7816
Epoch 26/30
8671/8671 [==============================] - 0s 55us/step - loss: 0.4652 - acc: 0.7845: 0s - loss: 0.4664 - acc: 0.
Epoch 27/30
8671/8671 [==============================] - 0s 48us/step - loss: 0.4659 - acc: 0.7786
Epoch 28/30
8671/8671 [==============================] - 0s 51us/step - loss: 0.4633 - acc: 0.7809
Epoch 29/30
8671/8671 [==============================] - 0s 50us/step - loss: 0.4622 - acc: 0.7831
Epoch 30/30
8671/8671 [==============================] - 0s 54us/step - loss: 0.4628 - acc: 0.7819

In [63]:
scores = model.evaluate(X, y)
print('%s: %.2f%%' % (model.metrics_names[1], scores[1]*100))

8671/8671 [==============================] - 0s 13us/step
acc: 78.08%

### This is our first Keras deep learning model predicting sex of the athlete.