In [1]:
import warnings
warnings.filterwarnings("ignore")

import numpy as np
import pandas as pd

import nationality_helpers
from nationality_helpers import create_top_medalist

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn import tree

import seaborn as sns

import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = create_top_medalist()

In [3]:
df.shape

(403, 15)

In [4]:
df.nationality.nunique()

5

### To do:

### Split into male/female.  Then split athletics vs not athletics.  Athletics contains all of track.  This is a large range from distance runners to shot put throwers.

### There are a lot of sports with small amounts of athletes.  Let's narrow it down to sports with more than 30 athletes.

In [5]:
df.groupby('sport')['country_count'].agg('count')

sport
0    117
1     61
2     36
3     44
4     49
5     56
6     40
Name: country_count, dtype: int64

In [6]:
df.describe()

,id,name,nationality,sex,height,weight,sport,gold,silver,bronze,medal_or_nm,country_count,athlete_count,age
count,4.030000e+02,403.000000,403.00000,403.000000,403.000000,403.000000,403.000000,403.000000,403.000000,403.000000,403.000000,403.000000,403.000000,403.000000
mean,5.302632e+08,201.000000,2.30273,0.404467,1.782928,71.334988,2.434243,0.533499,0.297767,0.344913,1.176179,176.538462,68.930521,25.404467
std,2.839063e+08,116.480327,1.46014,0.491399,0.123958,15.681197,2.137679,0.665978,0.509287,0.481129,0.582693,60.900991,31.657293,4.381403
min,9.514544e+06,0.000000,0.00000,0.000000,1.400000,33.000000,0.000000,0.000000,0.000000,0.000000,1.000000,107.000000,36.000000,15.000000
25%,2.754582e+08,100.500000,1.00000,0.000000,1.700000,60.000000,0.000000,0.000000,0.000000,0.000000,1.000000,141.000000,44.000000,22.000000
50%,5.447458e+08,201.000000,2.00000,0.000000,1.770000,71.000000,2.000000,0.000000,0.000000,0.000000,1.000000,159.000000,56.000000,25.000000
75%,7.723205e+08,301.500000,4.00000,1.000000,1.880000,80.000000,4.000000,1.000000,1.000000,1.000000,1.000000,258.000000,117.000000,28.000000
max,9.984370e+08,402.000000,4.00000,1.000000,2.210000,136.000000,6.000000,5.000000,2.000000,2.000000,6.000000,258.000000,117.000000,41.000000

### Checking for data integrity issues.  Height and weight seem feasible.

In [15]:
train, test = train_test_split(df, test_size=.25, random_state=123, stratify=df[['nationality']])

In [16]:
y_train = train[['nationality']]
y_test = test[['nationality']]

In [17]:
X_train = train[['sex', 'height', 'weight', 'age', 'sport']]
X_test = test[['sex', 'height', 'weight', 'age', 'sport']]

In [18]:
# X_train = train[['sex', 'height', 'weight', 'age']]
# X_test = test[['sex', 'height', 'weight', 'age']]

In [19]:
clf = DecisionTreeClassifier(criterion='entropy', max_depth=6, random_state=123).fit(X_train, y_train)

In [20]:
y_pred = clf.predict(X_train)
y_pred_proba = clf.predict_proba(X_train)

In [21]:
print('Accuracy of Decision Tree classifier on training set: {:.6f}'
     .format(clf.score(X_train, y_train)))

Accuracy of Decision Tree classifier on training set: 0.738411

### This isn't great, but we are trying to classify between 5 countries.  Let's check on the test now.

In [22]:
print('Accuracy of Decision Tree classifier on test set: {:.6f}'
     .format(clf.score(X_test, y_test)))

Accuracy of Decision Tree classifier on test set: 0.584158

### Let's create another notebook that splits be sex and splits athletics vs not athletics for reasons above.